/* form_produtos*/

#container{
	margin: auto;
	margin-top: 2em;
	width: 35%;
}
.form-group{
	margin-top: 1em;
}
#divbotao{
	text-align: right;
}
#botao{
	background-color: #880850;
	color: #ffff;
}

/* form_produtos*/

/*------------------------------------------------*/

/*listagem*/

#table{
	width: 100%;
	margin-top: 2em;
	border-style: solid;
	border-radius: 10px;
	border-color: #084188;
}
#botaoEdita{
	background-color: #DA06C4;

}
#botaoDeleta{
	background-color: #880850;
}
/*listagem*/

/*-----------------------------------------------------*/

/*index.php*/
#containerIndex{
	position: relative;
	top: 20em;
	padding: 1em 1em 0.5em 1em;
	border: 2px solid #f3f3f3;
	border-radius: 15px;
	-webkit-box-shadow: 2px 9px 30px 6px rgba(194,194,194,0.75);
-moz-box-shadow: 2px 9px 30px 6px rgba(194,194,194,0.75);
box-shadow: 2px 9px 30px 6px rgba(194,194,194,0.75);

}


